@font-face {
    font-family:"Roboto-Regular";
    src: url("font/Roboto-Regular.ttf") format("truetype");
  }
body{
    margin-left: 100;
    color: #1C1E53;
    background-color: #F5FCFF;
    font-family:'Roboto-Regular', Courier, monospace
}
.navbar{
    background-color: #F5FCFF;
    color: #5E3BEE;
    height: 70px;
}

.navbar ul{
    display: flex;
}
.navbar a{
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px #5E3BEE solid;
}

.navbar .flex{
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}